/* -------- CABECALHO --------*/

#cabecalho {
    margin: 0;
    display: block;
    height: 100px;
    background-color: #007fff;
    padding-top: 15px;
    text-align: left;
    color: #fff;
}

.tudojunto {
    display: flex;
    /* position: relative; */
}

/* -------- ESQUERDA -------- */

.esquerda,
.direita,
.centro {
    margin: 10px;
}

.esquerda {
    width: 150px;
    height: 700px;
}

#projetos {
    width: 177px;
}

#imgPerfil, #imgDesc, #imgDoc, #imgProj, #imgLogout{
    width: 15px;
}

/* -------- CENTRO --------*/
.centro{
    max-width: 320px;
    text-align: center;
    width: 300px;
    height: 725px;
}

#centro #opcoesRadio{
    background-color: green;
}
.centro #lista_nomes {
    padding: 0px;
    text-align: left; 
}


/* -------- DIREITA --------*/

.direita {
    /* border-top: 20px; */
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    height: 680px;
}

.direita #btnEnviar {
    background-color: #007fff;
    /* Green */
    border: none;
    color: #fff;
    padding: 5px 230px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 705px;
}

.direita .inputs {
    width: 700px;
}

.direita #resumo {
    height: 350px;
}




/* -------- RODAPE --------*/

#rodape {
    display: block;
    height: 80px;
    background-color:#007fff;
    padding-top: 15px;
    text-align: center;
    color: #fff;
}

body {
    background-color: rgb(191, 212, 191);
}