.engenharia {
    color: #0000FF;
    font-family: 'Comforter', cursive;
    font-size: 20px;
    }
    /* professor parou na pag 58 */

    .farmacia{
        font: italic bold 20px Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        /* risca a linha */
        text-decoration: line-through; 
    }